body{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  height: 50%;
  width: 50%;
  background-image: url("cacti.jpg");
  background-size: cover;
}
#logo{
  position:fixed;
  bottom:0px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#header1{
  display: block;
  /***/
  /*https://css-tricks.com
  /quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /***/
  font-family: Courier, monospace;
  border: 2px solid	#FED85D;
  padding: 20px;
  text-align: center;
}
#header2, #header3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Courier, monospace;
  border: 2px solid	#FED85D;
  text-align: center;
  margin-top: 75px;
}
#about{
  text-align: center;
  font-family: Courier, monospace;
  font-size: 20px;
  padding-top: 30px;
}
.projects ul{
  list-style-type: none;
}
.content ul{
  position: fixed;
  top: 0px;
  right: 0px;
}
.content li {
  display: inline;
}
.content li a, .projects li a {
  text-decoration: none;
  font: 24px Courier, monospace;
  color: black;
}
.content li a:hover, .projects li a:hover{
  color: #FED85D;
}
.content li:nth-child(n){
  padding-right: 40px;
}
